.img{
  width: 100%;
}

input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
}
.imglabel{
  border-width: 10px;
  border-color: gray;
  border-style: solid;
}
h5{
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: white;
}
.jumbotron{
  background-color: #364F80;
}

h3{
  text-align: center;
  font-size: 25px;
  color: white;
  margin-bottom: 15px;
}
.radio-inline{
  margin-bottom: 15px;
}

#result{
  text-align: center;
  font-size: 40px;
}
.page-header{
  font-family: "Lucida Console", Monaco, monospace;

}
